@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'variables';
@import 'libs/normalize';

body{
  background: #E7F6FF;
  font-family: Inter, serif;
}

.wrapper{
  text-align: center;
  max-width: 1080px;
  margin: 88px auto 0;
  background: white;
  border-radius: 20px;
}

.line{
  width: 100%;
  height: 1px;
  background: #EAEAEA;
}